:root{
    --dark: #022601;
    --darker: #010D00;
    --medium: #025920;
    --headerBKG:  #65A675;
    --green: #66A663;
    --lightgreen: #7DBF6B;
    --deeporange: #F29441;
    --paleorange: #F2B279;
    --green1: #00693E;
    --green2: #74a78a;
    --white: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--headerBKG);
    color: var(--darker);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 18px;
}
.newsletter-container{
text-align: center;
}
.newsletter-container>p{
    padding-bottom: 1em;
}
.newsletter-input{
    width: 20em;
    margin-right: 1em;
    padding-left: .4em;
    border: .5px solid gray;
}
.newsletter-btn{
    width: 10em;
    background-color: var(--deeporange);
    border: none;
    cursor: pointer;
}
.newsletter-btn, .newsletter-input{
    font-family: inherit;
    font-size: 16px;
    border-radius: .3em;
    height: 3em;
}
.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.logo-img{
    padding: 3px;

}
.logo{
    color: var(--darker);
    font-family: 'Handlee', cursive;
}
.hero{
    background-image: url(./public/images/monstera.jpg);
    background-size: cover;
    height: 60vh;
    width: 100%;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.hero-text{
    padding: 2em;
    text-shadow: 5px 5px 5px black ;
    font-size: 1.3em;
}
.hero-text>p{
    font-weight: 600;
    color: whitesmoke;
}
.nav-bar{
    position: absolute;
    right: 0;
    padding-right: 1em;
    display: flex;
    flex-direction: row;

}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0 1em;
}
li>a{
    color: var(--darker);
    text-decoration: none;
}
li>a:hover{
    color: var(--white);
}


.prod-header{
    background-color: var(--dark);
    padding: 1em;
    color: #f5f5f5;
    text-align: left;
}
.prod-header>h1{
    font-family: 'Handlee', cursive;
}
.prod-page-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    max-width: 80%;

}
.prod-card-thumb{
    margin: 1em;
    width: 15em;
}

.prod-title{
    text-decoration: none;
    color: #00693E;
}
.cart-container{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}
.cart-el{
width: 80%;
padding: 2em;
}
.cart-btn , .placeorder-btn{
    font-family: inherit;
    background-color: #00693E;
    color: #f5f5f5;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
}
.cart-btn:hover , .placeorder-btn:hover{
    background-color: #b0bea9 ;
}
.add-btn-thumb, .newsletter-btn{
    padding: 5px;
    margin: 5px auto;
}
.add-btn-prod, .placeorder-btn{
    font-weight: bold;
    padding: 1em;
    margin: 1em auto auto 0;
}
.prod-img-thumb{
    height: 200px;
    width: 200px;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.prod-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.price{
    padding-bottom: 10px;
}
.prod-img-container{
    display: flex;
    justify-content: center;
    width: 50%;
}
.prod-img-container>img{
    border-radius: 1em;
   height: 400px;
   width: auto;
}
.prod-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}
.prod-detail-care{
font-size: 14px;
margin-top: 1.5em;
}
.prod-detail-care>h3{
    padding-bottom: .5em;
}
.prod-detail-care>ul{
    display: flex;
    flex-direction: column;

}
.total-cart{
    margin: 2em;
}

.cart-item-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto auto auto;
}
.cart-item-img-container>img{
    border-radius: 1em;
}
.cart-item-info-container{
    width: 100%;
    padding-left: 1em;
}
.remove-btn{
    padding: 5px;
    margin-top: 1em;
    
}
.services-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em ;
    padding: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.services-subcontainer{
    padding: 1em;
    max-width: 400px;
    font-weight: 300;
}
.services-subcontainer>h3{
    margin: .5em auto;
    font-family: 'Handlee', cursive;
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-container>a{
    padding: 1em;
    color: rgb(202, 201, 201);
    font-size: xx-small;
}
.page-container{
    position: relative;
    min-height: 100vh;
}
.content-wrap{
    padding-bottom: 6em;
}
footer{
    background-color: var(--headerBKG);
    color: var(--darker);
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em ;
    height: 5em;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    padding-top: 5px;
}
h5{
    font-size: .8em;
    font-weight: 500;
}
.footer-credit{
    display: flex;
    flex-direction: column;
}
.footer-credit>ul{
    font-size: .5em;
    display: flex;
    flex-direction: column;
}
.footer-credit>ul>li{
    padding: 0;
}
.footer-icon{
    height: 20px;
}
@media only screen and (max-width: 768px) {
    body{
        min-width: 300px;
    }
    .newsletter-container{
       margin: 2em;
    }
    .services-container{
        flex-direction: column;
        margin: 3em ;
        text-align: center;
    }
    header{
      text-align: center;  
      height: 13em;
    }
    .logo-container{
        display: flex;
        justify-content: start;
        text-align: center;
        margin: 0 auto auto auto;
    }
    .nav-bar{
        top: 7em;
        left: 0;
        flex-direction: column;
    }
    .nav-bar>ul{
        flex-direction: column;
    }
    .nav-bar>ul>li{
        margin-bottom: 1em;
    }
    .prod-header{
        text-align: center;
    }
    footer{
        flex-direction: column;
    }
    .footer-credit{
        display: none;
    }
}